button{
    position: fixed;
    right: 0;
    top:0;
    background: #2a7ae2;
    opacity: 0.8;
    padding: 10px;
    border:None;
    font-size: large;
    color:white;
    cursor: pointer;
    display: none;

}
button:hover{
    opacity: 0.9;
}
.chatgpt-active{
    background-color:#ffff0096;
}